.input {
    text-align: centre;
    color: white;
    background-color: #42032C;
}

.Button {
    color: #404040;
    background-color: beige;
    border: 3px solid #d29a55;
}

.Button:hover {
    background-color: #F5F5da;
    color: black;
    border: 3px solid black;
}
.Footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}